.dialog {

}

.dialog[open] {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  background: rgba(var(--input-focus-bg), 0.5);
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog[open] div {
  position: relative;
  background: rgb(var(--header-bg));
  padding: 30px;
  border-radius: 30px;
  /* horizontal-offset vertical-offset blur-radius [spread-radius] color */
  box-shadow: 15px 15px 40px 20px rgba(var(--header-bg), .70);
}
.dialog div > p {
  top: 30px;
  left: 0;
  min-width: 300px;
  min-height: 100px;
  padding: 10px;
  z-index: 900;

  color: rgb(var(--icon-fg));
  background-color: rgb(var(--icon-hover-bg));

  margin: 2px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog ul {
  list-style: none;
  top: 30px;
  left: 0;
  min-width: 300px;
  padding: 0;
  z-index: 900;
}
.dialog ul li {
  font-size: var(--info-fsize);
  font-weight: var(--info-fweight);
  white-space: nowrap;  
  color: rgb(var(--icon-hover-fg));
  padding: 0 10px;
  margin: 1px 0 0 0;
  height: 32px;
  background-color: rgb(var(--icon-hover-bg));
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dialog ul li:hover {
  color: rgb(var(--icon-hover-bg));
  background-color: rgb(var(--icon-hover-fg));
}
.dialog ul p {
  height: 30px;
}
.dialog nav {
  background: transparent;
  display: flex;
  margin: 2px 0 0 0;
}
