@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:500&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

/* ========================================================================= */
/* Style definitions to be used throughout the CSS file                      */
/* ========================================================================= */
:root,
::before {
  --slatecolour-01: 31, 41, 51;
  --slatecolour-02: 51, 64, 77;
  --slatecolour-03: 63, 77, 90;
  --slatecolour-04: 81, 95, 108;
  --slatecolour-05: 96, 109, 123;
  --slatecolour-06: 117, 135, 156;
  --slatecolour-07: 141, 152, 162;
  --slatecolour-08: 202, 209, 216;
  --slatecolour-09: 245, 247, 250;
  --slatecolour-10: 255, 255, 255;

  --bluecolour-01: 29, 78, 216;
  --bluecolour-02: 59, 130, 246;

  --body-bg: var(--slatecolour-02);
  --body-fsize: 0.8rem;

  --header-bg: var(--slatecolour-01);
  --header-fg: var(--slatecolour-08);
  --header-height: 56px;
  --header-fsize: 1.5rem;
  --header-fweight: 500;

  --menu-bg: var(--slatecolour-03);
  --menu-fg: var(--slatecolour-08);
  --menu-fsize: 0.875rem;
  --menu-fweight: 500;

  --info-bg: var(--slatecolour-04);
  --info-fg: var(--slatecolour-08);
  --info-fsize: 0.875rem;
  --info-fweight: 100;

  --input-bg: var(--slatecolour-07);
  --input-fg: var(--slatecolour-01);
  --input-border: 1px solid rgb(var(--input-fg));
  --input-focus-bg: var(--slatecolour-08);
  --input-focus-fg: var(--slatecolour-01);
  --input-focus-border: 1px solid rgb(var(--input-focus-fg));
  --input-disabled-bg: var(--slatecolour-04);
  --input-disabled-fg: var(--slatecolour-07);
  --input-disabled-border: 1px solid rgb(var(--input-disabled-fg));

  /* width = 2x height */
  --toggle-height: 20px;
  --toggle-width: 35px;
  --toggle-off-bg: var(--slatecolour-06);
  --toggle-off-fg: var(--slatecolour-10);
  --toggle-off-border: var(--slatecolour-06);
  --toggle-on-bg: var(--bluecolour-02);
  --toggle-on-fg: var(--slatecolour-10);
  --toggle-on-border: 29, 78, 216;

  --icon-bg: var(--slatecolour-03);
  --icon-fg: var(--slatecolour-08);
  --icon-hover-bg: var(--slatecolour-05);
  --icon-hover-fg: var(--slatecolour-09);
  --icon-click-bg: var(--slatecolour-07);
  --icon-click-fg: var(--slatecolour-09);
  --icon-fsize: 24px;
  --icon-fweight: 500;
  --icon-size: 48px;

  --pane-offset: 20px;
  --container-offset: 30px;

  --scrollbar-size: 16px;
  --scrollbar-margin: 4px;
}


/* ========================================================================= */
/* Reset the browser default margins etc.                                    */
/* ========================================================================= */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: 'Roboto', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-weight: 500;
}


/* ========================================================================= */
/* Scroll bar styles                                                         */
/* ========================================================================= */
::-webkit-scrollbar {
  background-color: rgb(var(--body-bg));
  width: calc(var(--scrollbar-size) + var(--scrollbar-margin));
}
::-webkit-scrollbar-button {
  color: rgb(var(--icon-fg));
  background-color: rgb(var(--icon-bg));
  height: calc(var(--scrollbar-size));
  background-repeat: no-repeat;
  background-size: calc(var(--scrollbar-size) - 4px);
  background-position: center center;
  border-left: var(--scrollbar-margin) solid rgb(var(--body-bg));
}
::-webkit-scrollbar-button:hover {
  background-color: rgb(var(--icon-hover-bg));
}
::-webkit-scrollbar-button:active {
  background-color: rgb(var(--icon-click-bg));
}
::-webkit-scrollbar-button:vertical:start {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23cad1d8' viewBox='0 0 448 512'><path d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z'/></svg>");
}
::-webkit-scrollbar-button:vertical:start:hover {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23f5f7fa' viewBox='0 0 448 512'><path d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z'/></svg>");
}
::-webkit-scrollbar-button:vertical:end {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23cad1d8' viewBox='0 0 448 512'><path d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/></svg>");
}
::-webkit-scrollbar-button:vertical:end:hover {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23f5f7fa' viewBox='0 0 448 512'><path d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'/></svg>");
}
::-webkit-scrollbar-track {
  margin: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--icon-bg));
  border-left: var(--scrollbar-margin) solid rgb(var(--body-bg));
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--icon-hover-bg));
}
::-webkit-scrollbar-thumb:active {
  background-color: rgb(var(--icon-click-bg));
}
::-webkit-scrollbar-corner {
  background-color: purple;
}
/* remove double buttons on flex */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment, 
::-webkit-scrollbar-button:horizontal:end:decrement 
{
    display: none;
}


/* ========================================================================= */
/* Common across all components                                              */
/* ========================================================================= */
body {
  font-family: 'IBM Plex Sans', 'Roboto', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-size: 14px;
  background: rgb(var(--body-bg));
}

h1 {
  color: rgb(var(--header-fg));
  font-size: var(--header-fsize);
  font-weight: var(--header-fweight);
}

h2 {
  font-size: var(--header-fsize);
  font-weight: var(--header-fweight);
  color: rgb(var(--header-fg));
  background-color: rgb(var(--header-bg));
  height: var(--icon-size);

  display: flex;
  flex-direction: row;
  align-items: center;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* ========================================================================= */
/* Buttons are generic                                                       */
/* ========================================================================= */
button {
  flex: 1 0 var(--icon-size);

  font-size: var(--header-fsize);
  font-weight: var(--header-fweight);
  color: rgb(var(--icon-fg));
  background-color: rgb(var(--icon-bg));
  border-radius: 10px 0 0 0;

  height: var(--icon-size);
  width: var(--icon-size);
  margin: 0 0 0 1px;

  border-left: 1px solid transparent;

  cursor: pointer;
  outline: none;
}
button::before {
  font-size: var(--icon-fsize);
  font-weight: var(--icon-fweight);
}
button:hover {
  color: rgb(var(--icon-hover-fg));
  background-color: rgb(var(--icon-hover-bg));
}
button:active {
  color: rgb(var(--icon-click-fg));
  background-color: rgb(var(--icon-click-bg));
}
button.warning:hover {
  color: rgb(var(--icon-bg));
  background: red;
}
button.warning:active {
  color: rgb(var(--icon-click-fg));
  background: red;
}

/* ========================================================================= */
/* The dialog is shared across components as well                            */
/* ========================================================================= */
dialog[open] {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
  background: rgba(var(--input-focus-bg), 0.5);
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

dialog[open] div {
  position: relative;
  background: rgb(var(--header-bg));
  padding: 2px;
  border-radius: 20px 0 0 0;
  /* horizontal-offset vertical-offset blur-radius [spread-radius] color */
  box-shadow: 0 0 10px 10px rgba(var(--header-bg), .50);
}

dialog h2 {
  background: transparent;
}

dialog h2 p {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
}

dialog div > p {
  top: 30px;
  left: 0;
  min-width: 300px;
  min-height: 100px;
  padding: 20px 10px;
  z-index: 900;

  color: rgb(var(--icon-fg));
  background-color: rgb(var(--icon-hover-bg));

  margin: 2px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
dialog ul {
  list-style: none;
  top: 30px;
  left: 0;
  min-width: 300px;
  padding: 0;
  z-index: 900;
}
dialog ul li {
  font-size: var(--info-fsize);
  font-weight: var(--info-fweight);
  white-space: nowrap;  
  color: rgb(var(--icon-hover-fg));
  padding: 0 10px;
  margin: 1px 0 0 0;
  height: 32px;
  background-color: rgb(var(--icon-hover-bg));
  cursor: pointer;
  display: flex;
  align-items: center;
}
dialog ul li:hover {
  color: rgb(var(--icon-hover-bg));
  background-color: rgb(var(--icon-hover-fg));
}
dialog ul p {
  height: 30px;
}
dialog nav {
  background: transparent;
  display: flex;
  margin: 2px 0 0 0;
}
