.taskRun {
  width: 100%;
  height: 100%;
  background: rgb(var(--header-bg));
  padding: 4px 4px var(--container-offset) var(--container-offset);
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
}
.console {
  color: rgb(var(--input-focus-fg));
  background-color: rgb(var(--input-bg));
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  min-height: calc(100% - var(--icon-size));
}
.console h3 {
  font-size: calc(var(--header-fsize) * 0.70);
  font-weight: var(--header-fweight);
  color: rgb(var(--header-fg));
  background-color: rgb(var(--header-bg));
  height: calc(var(--icon-size) * 0.60);
  border-radius: 10px 0 0 0;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  column-gap: 8px;
  row-gap: 16px;
  margin: 4px 0 8px 0;
}

.server {
  position: relative;
  min-width: fit-content;
}
.server h4 {
  font-size: var(--menu-fsize);
  font-weight: var(--menu-fweight);
  color: rgb(var(--menu-fg));
  background: rgb(var(--menu-bg));
  padding: 2px 8px;
}
.server .list p {
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  color: white;
  padding: 2px 8px;
  overflow-x: hidden;
}

.server .list {
  position: relative;
  background: black;
  min-width: 400px;
}

.console p.error {
  color: red;
}
.console p.completed {
  color: #99cc55
}
